table,th,td {
    border: none;
    border-collapse: collapse;
}
th,td {
    padding: 5px;
    text-align: center;
}
.table-header {
    border-bottom: solid 1px black;
}
.table-separator {
    border-left: solid 1px black;
    padding: 0px;
}
/*tr:nth-child(even) {
    background: #e8e8e8;
}*/
#input,#theLatex {
    width: 100%;
    font-family: monospace;
}
#errorArea {
    color: red;
}

